body {
  background-color:rgb(228, 139, 139);
  box-sizing: border-box;
}

#container {
  margin: auto;
  width: 80%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  padding: 15px 0px;
}

h1 {
  font-family:  'Pinyon Script', cursive;
}

main {
  width: 80%;
  margin: auto;
}

.donar {
  display: block;
  margin: 25px auto;
  padding: 3px 10px;
  font-size: 1.7em;
  font-weight: 700;
  text-decoration: none;
  color: black;
  background:lightgoldenrodyellow;
}

.contacto {
  display: block;
  margin: 40px auto;
  font-size: 1.1em;
}

.cooperativistas {
  font-size: 1em;
}

.amor {
  color: red;
}

.code {
  font-family: monospace;
}