body {
  box-sizing: border-box;
}

#container {
  margin: auto;
  width: 80%;
  text-align: center;
}

header {
  padding: 15px 0px;
}

h1 {
  font-family:  'Pinyon Script', cursive;
}

main {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}

.texto {
  width: 70%;
  padding: 0px 40px;
  text-align: justify;
  font-size: 1em;
  color:#222;
}

.texto img {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 40px;
}

.links {
  width: 29%;
}

@media only screen and (max-width: 770px) {
  main {
    flex-wrap: wrap;
  }
  
  .texto {
    order: 2;
    width: 100%;
    padding: 0px;
    text-align: justify;
  }
  
  .links {
    width: 100%;
    order: 1;
  }

  .links a {
    margin-bottom: 40px;
  }
  
}

.donar {
  display: block;
  margin: 25px auto;
  padding: 10px;
  font-size: 1.7em;
  font-weight: 700;
  text-decoration: none;
  color: black;
  background-color:rgb(228, 139, 139);
}

#contacto {
  display: block;
  color:#222;
  margin: 40px auto;
  font-size: 1.2em;
}

#contacto a {
  font-weight: bolder;
  text-decoration: none;
}